.tc-mobile  { display: none !important; }
.tc-desktop { display: block !important; }

@media (max-width: 700px) {
  .tc-mobile  { display: flex !important; }
  .tc-desktop { display: none !important; }
}

* { box-sizing: border-box; }